.labelled-icon-box {
    display: flex;
    flex-direction: row;
    padding: 4px;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
    transition: background-color 0.2s ease-in-out;
}

.labelled-icon-box img {
}

.light-theme .labelled-icon-box {
    background-color: white;
}