.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 4px;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
    transition: background-color 0.1s;
}

.light-theme .navigation-bar {
    background-color: white;
}