.navigation-bar {
    display: flex;
    flex-direction: row;
    padding: 4px;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
    transition: background-color 0.1s ease-in-out;
}

.light-theme .navigation-bar {
    background-color: white;
}