.pokemon-list-item {
    display: inline-flex;
    column-gap: 8px;
    height: 32px;
    width: calc(100% - 8px);
    flex-direction: row;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 8px;

    background-color: rgb(10, 10, 10);
    color: white;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    margin: 2px 4px 2px 4px;
}

.pokemon-list-item label {
    font-weight: 500;
}

.light-theme .pokemon-list-item {
    background-color: white;
    color: black;
}

.pokemon-list-item img {
    width: 24px;
}