#pokemon-list {
    display: grid;
    grid-template-rows: 64px 1fr;
    background-color: rgb(25, 25, 25);
    transition: background-color 0.1s;
    overflow: hidden;
}

.light-theme #pokemon-list {
    background-color: rgb(240, 240, 240);
}

#pokemon-list .vertical-list {
    margin-bottom: 8px;
}

.display-none {
    display: none !important;
}