.stage {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 90px 1fr 90px;
    grid-template-areas: 
        "name name name"
        "left catwalk right"; 
    margin: 8px;
    grid-area: stage;
    row-gap: 8px;
    background-color:rgb(15, 15, 15);
    border-radius: 16px;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.1);
}

.light-theme .stage {
    background-color:rgb(240, 240, 240);
}

.stage label {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-size: 48px;
    width: 100%;
    height: 100%;
    color:white;
    box-sizing: border-box;
}

.light-theme .stage label {
    color: black;
}

.stage div {
    grid-area: catwalk;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.stage-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    border: none;
    transition: font-size 0.05s ease-out, color 0.05s ease-out;
    color: rgba(255, 255, 255, 0.2);
}

.light-theme .stage-arrow {
    color: rgba(0, 0, 0, 0.2);
}

.stage-arrow:hover {
    font-size: 54px;
    color: rgba(255, 255, 255, 0.4);
}

.light-theme .stage-arrow:hover {
    color: rgba(0, 0, 0, 0.4);
}

.stage-arrow:active {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.4);
}

.light-theme .stage-arrow:active {
    color: rgba(0, 0, 0, 0.4);
}

.stage-left {
    grid-area: left;
}

.stage-right {
    grid-area: right;
}