.toggle-button {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    color: white;
    width: 40px;
    border-radius: 2px;
    transition: background-color, color, border-radius;
}

.toggle-button:hover {
    border-radius: 8px;
    background-color: rgb(30, 30, 30);
}

.light-theme .toggle-button {
    color: black;
}

.light-theme .toggle-button:hover {
    background-color: rgb(220, 220, 220);
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 1060px) {
    .mobile-only {
        display: flex;
    }
}