.navigation-bar {
    height: 48px;
}

@media (prefers-color-scheme: dark) {
    .navigation-bar {
        background-color: black;
    }
}

@media (prefers-color-scheme: light) {
    .navigation-bar {
        background-color: white;
    }
}